@model IEnumerable< GAMF.ViewModel.StudentCredits>

@{
    ViewData["Title"] = "Hallgatók megszerzett kreditjei";
}

<h2>Hallgatók megszerzett kreditjei</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Hallgató neve
            </th>
            <th>
                Elért kreditek száma
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StudentName
                </td>
                <td>
                    @item.Credits
                </td>
            </tr>
        }
    </tbody>
</table> 